:root {
    --border-color: #393646;
    --background-color: #4f4557;
    --highlight: #f4eee0;
    --mid: #6d5d6e;
}

.App {
    text-align: center;
    color: var(--highlight);
}

.textColour {
    color: var(--highlight);
}

#mainDiv {
    width: 70%;
}

.toDoComponent {
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid 2px var(--border-color);
    padding: 7px;
    width: 50%;
}
.singleToDos {
    border: solid 3px var(--border-color);
    margin-bottom: 1%;
}
#weatherDiv {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--mid);
    zoom: 0.6;
}

#linkList {
    border: solid 2px var(--border-color);
    width: fit-content;
    height: fit-content;
    padding: 7px;
    padding-top: 0px;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    background-color: var(--mid);
    color: var(--highlight);
    border-color: var(--highlight);
    border-radius: 8px;
    border-width: 5px;
    margin: 5px;
}

input {
    color: var(--highlight);
    background-color: var(--mid);
    border-color: var(--border-color);
    height: 30px;
    width: 60%;
}

.App-header {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--highlight);
}

.App-link {
    color: var(--highlight);
}
