.App {
    text-align: center;
}

#mainDiv {
    width: 70%;
}

#weatherDiv {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #61dafb;
    zoom: 0.6;
}

button {
    background-color: deeppink;
    color: black;
    border-color: deeppink;
    border-radius: 8px;
    border-width: 5px;
    margin: 5px;
}

input {
    color: deeppink;
    background-color: pink;
    border-color: deeppink;
    height: 30px;
    width: 60%;
}

.App-header {
    background-color: pink;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: deeppink;
}

.App-link {
    color: #61dafb;
}
