:root {
    --border-color: #393646;
    --background-color: #4f4557;
    --highlight: #f4eee0;
    --mid: #6d5d6e;
}

.App {
    text-align: center;
    color: var(--highlight);
}

.textColour {
    color: var(--highlight);
}

#mainDiv {
    width: 70%;
}

.toDoComponent {
    position: absolute;
    bottom: 0;
    right: 0;
    border: solid 2px var(--border-color);
    padding: 7px;
    width: 50%;
    background-color: var(--mid);
}
.singleToDos {
    border: solid 3px var(--border-color);
    margin-bottom: 1%;
}
#weatherDiv {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    zoom: 0.8;
    background-color: var(--mid);
    border: solid 5px var(--border-color);
}

#dogDiv {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    background-color: var(--mid);
    border: solid 5px var(--border-color);
}

#dogPictureId {
    object-fit: contain;
}
#SettingsList {
    border: solid 2px var(--border-color);
    width: fit-content;
    height: fit-content;
    padding: 7px;
    padding-top: 0px;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    background-color: var(--mid);
}

button {
    background-color: var(--mid);
    color: var(--highlight);
    border-color: var(--border-color);
    border-radius: 8px;
    border-width: 5px;
    margin: 5px;
}

input {
    color: var(--highlight);
    background-color: var(--mid);
    border-color: var(--border-color);
    height: 30px;
    width: 60%;
}

.App-header {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--highlight);
}

.App-link {
    color: var(--highlight);
}

#weatherDiv:hover {
    zoom: 1.1;
}

.toDoDiv {
    display: none;
}

.hide {
    font-size: medium;
    font-weight: 1000;
    color: var(--border-color);
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 2px var(--border-color);
}

#hideToDo {
    left: 0;
    top: 0;
}

#hideSettings {
    left: 0;
    bottom: 0;
    margin: 5px;
}
.SettingsForm {
    margin: 25px;
}

.clickForDiv {
    font-weight: 800;
    color: var(--border-color);
    position: absolute;
    margin: 0%;
    padding: 3%;
    background-color: var(--mid);
    border: solid 3px var(--border-color);
}

.clickForWeather {
    left: 0;
    top: 0;
    border-top: 0px;
    border-left: 0px;
}

.clickForWeather:hover {
    padding: 5%;
    cursor: pointer;
}

.clickForDog {
    left: 0;
    bottom: 0;
    border-bottom: 0px;
    border-left: 0px;
}
.clickForDog:hover {
    padding: 5%;
    cursor: pointer;
}

.clickForToDo {
    right: 0;
    bottom: 0;
    border-bottom: 0px;
    border-right: 0px;
}
.clickForToDo:hover {
    padding: 5%;
    cursor: pointer;
}

.clickForSettings {
    right: 0;
    top: 0;
    border-top: 0px;
    border-right: 0px;
}
.clickForSettings:hover {
    cursor: pointer;
    padding: 5%;
}

.ChangeColoursDiv {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
